body {
  font-family: 'Monda', sans-serif;
  text-align: center;
  background-color: rgb(190, 155, 161);
}

.form {
  margin-bottom: 20px;
}

.burgers {
  padding-left: 0px;
  padding-right: 0px;
}

h1 {
  font-family: 'Fugaz One', cursive;
  text-transform: uppercase;
  margin: 20px;
  font-size: 50px;
}

.burger-logo {
  width: 60px;
  margin-right: 10px;
  margin-top: -15px;
}

/* .burgerpic {
  margin-top: -100px;
} */

h3 {
  font-size: 30px;
}

p {
  font-size: 15px;
}

input {
  height: 40px;
}

.devour-burger {
  display: inline;
  font-size: 12px;
  background-color: rgb(207, 204, 204);
}

.imgMobile {
  display: none;
}

@media (max-width: 762px) {
  .imgLarge {
    display: none;
  }

  .imgMobile {
    display: block;
    width: 200px;
    margin: 0 auto;
    margin-bottom: 10px;
  }
}